target/
pom.xml.*
buildNumber.properties
.mvn/timing.properties
*.iml
.idea
.project
.vscode/
*/.classpath
*/.project
*/.settings
.settings/*
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
.DS_Store
out/
**/test-output
application.yml
release.properties
